-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."BookingKind" AS ENUM ('ROOM', 'SERVICE');

-- CreateEnum
CREATE TYPE "public"."DeliveryCategory" AS ENUM ('FOOD', 'GROCERY');

-- CreateEnum
CREATE TYPE "public"."DeliveryOrderStatus" AS ENUM ('PENDING', 'ACCEPTED', 'PREPARING', 'READY_FOR_PICKUP', 'PICKED_UP', 'OUT_FOR_DELIVERY', 'DELIVERED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "public"."OtpPurpose" AS ENUM ('USER_PHONE_LOGIN', 'USER_PHONE_VERIFY', 'DELIVERY_PARTNER_LOGIN', 'KITCHEN_LOGIN', 'ORDER_PICKUP', 'ORDER_DELIVERY', 'PASSWORD_RESET');

-- CreateEnum
CREATE TYPE "public"."PartnerProfileStatus" AS ENUM ('INCOMPLETE', 'PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."PaymentStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED');

-- CreateEnum
CREATE TYPE "public"."Role" AS ENUM ('CUSTOMER', 'VENDOR', 'DELIVERY', 'ADMIN');

-- CreateEnum
CREATE TYPE "public"."ServiceType" AS ENUM ('RENT_SCOOTY', 'DRONE_SHOOT', 'CAMPING', 'TREKKING_WITH_CAMPING', 'CAB_AND_TAXI', 'CAFE');

-- CreateTable
CREATE TABLE "public"."Booking" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "roomId" TEXT,
    "serviceId" TEXT,
    "kind" "public"."BookingKind" NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "amount" INTEGER NOT NULL,
    "paymentProvider" TEXT NOT NULL DEFAULT 'SIMULATED',
    "paymentReference" TEXT,
    "paymentStatus" "public"."PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "bookedFor" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "checkInDate" TIMESTAMP(3),
    "checkOutDate" TIMESTAMP(3),
    "activityOptions" JSONB NOT NULL DEFAULT '[]',

    CONSTRAINT "Booking_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryConfig" (
    "id" TEXT NOT NULL DEFAULT 'default',
    "baseDeliveryFee" INTEGER NOT NULL DEFAULT 30,
    "deliveryFeePerKm" INTEGER NOT NULL DEFAULT 15,
    "freeDeliveryThreshold" INTEGER NOT NULL DEFAULT 500,
    "defaultRiderCut" INTEGER NOT NULL DEFAULT 50,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DeliveryConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryItem" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "price" INTEGER NOT NULL,
    "imageUrl" TEXT,
    "category" "public"."DeliveryCategory" NOT NULL,
    "isAvailable" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "availableQuantity" INTEGER NOT NULL DEFAULT 100,
    "grocerySection" TEXT,
    "servingInfo" TEXT,
    "pieces" TEXT,
    "isVeg" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "DeliveryItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryOrder" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "items" JSONB NOT NULL,
    "totalAmount" INTEGER NOT NULL,
    "status" "public"."DeliveryOrderStatus" NOT NULL DEFAULT 'PENDING',
    "deliveryAddress" TEXT NOT NULL,
    "customerPhone" TEXT NOT NULL,
    "partnerId" TEXT,
    "destinationLat" DOUBLE PRECISION,
    "destinationLng" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "pickupOtp" TEXT,
    "deliveryOtp" TEXT,
    "orderNumber" TEXT NOT NULL,
    "paymentProvider" TEXT NOT NULL DEFAULT 'SIMULATED',
    "paymentReference" TEXT,
    "paymentStatus" "public"."PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "isPayoutCleared" BOOLEAN NOT NULL DEFAULT false,
    "partnerCut" INTEGER NOT NULL DEFAULT 50,
    "payoutReference" TEXT,
    "deliveryFee" INTEGER NOT NULL DEFAULT 0,
    "itemsSubtotal" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "DeliveryOrder_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DeliveryPartner" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "phone" TEXT,
    "vehicleType" TEXT NOT NULL,
    "isAvailable" BOOLEAN NOT NULL DEFAULT true,
    "currentOrderId" TEXT,
    "currentLat" DOUBLE PRECISION,
    "currentLng" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "dlUrl" TEXT,
    "profileStatus" "public"."PartnerProfileStatus" NOT NULL DEFAULT 'INCOMPLETE',
    "payoutRequestedAt" TIMESTAMP(3),
    "upiId" TEXT,
    "profilePhotoUrl" TEXT,
    "pushToken" TEXT,
    "email" TEXT,
    "isOnline" BOOLEAN NOT NULL DEFAULT false,
    "rejectionReason" TEXT,
    "userId" TEXT,

    CONSTRAINT "DeliveryPartner_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."KitchenDevice" (
    "pushToken" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KitchenDevice_pkey" PRIMARY KEY ("pushToken")
);

-- CreateTable
CREATE TABLE "public"."OtpVerification" (
    "id" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "purpose" "public"."OtpPurpose" NOT NULL,
    "otpHash" TEXT NOT NULL,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "consumedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "phone" TEXT,
    "userId" TEXT,
    "orderId" TEXT,

    CONSTRAINT "OtpVerification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Room" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "price" INTEGER NOT NULL,
    "imageUrl" TEXT,
    "capacity" INTEGER NOT NULL DEFAULT 2,
    "available" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "address" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "ownerPhone" TEXT,
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "imageUrls" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "amenities" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "unavailableAmenities" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "sleepTitle" TEXT,
    "sleepDescription" TEXT,
    "roomPhotoTypes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "roomPhotos" JSONB NOT NULL DEFAULT '[]',
    "googleMapUrl" TEXT,

    CONSTRAINT "Room_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RoomReview" (
    "id" TEXT NOT NULL,
    "roomId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "comment" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RoomReview_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Service" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "price" INTEGER NOT NULL,
    "imageUrl" TEXT,
    "type" "public"."ServiceType" NOT NULL,
    "available" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "imageUrls" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "detailSections" JSONB NOT NULL DEFAULT '[]',
    "requiredDocuments" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "pickupAddress" TEXT,
    "contactPhone" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "ctaLabel" TEXT,
    "activityOptions" JSONB NOT NULL DEFAULT '[]',
    "googleMapUrl" TEXT,

    CONSTRAINT "Service_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Session" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "refreshTokenHash" TEXT NOT NULL,
    "userAgent" TEXT,
    "ipAddress" TEXT,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revoked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "firebaseUid" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "picture" TEXT,
    "role" "public"."Role" NOT NULL DEFAULT 'CUSTOMER',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "passwordHash" TEXT,
    "phone" TEXT,
    "phoneVerifiedAt" TIMESTAMP(3),
    "deliveryAddress" TEXT,
    "pushToken" TEXT,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Booking_paymentStatus_idx" ON "public"."Booking"("paymentStatus" ASC);

-- CreateIndex
CREATE INDEX "Booking_roomId_idx" ON "public"."Booking"("roomId" ASC);

-- CreateIndex
CREATE INDEX "Booking_serviceId_idx" ON "public"."Booking"("serviceId" ASC);

-- CreateIndex
CREATE INDEX "Booking_userId_createdAt_idx" ON "public"."Booking"("userId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "DeliveryItem_category_isAvailable_idx" ON "public"."DeliveryItem"("category" ASC, "isAvailable" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_orderNumber_idx" ON "public"."DeliveryOrder"("orderNumber" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryOrder_orderNumber_key" ON "public"."DeliveryOrder"("orderNumber" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_partnerId_idx" ON "public"."DeliveryOrder"("partnerId" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_paymentStatus_idx" ON "public"."DeliveryOrder"("paymentStatus" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_status_idx" ON "public"."DeliveryOrder"("status" ASC);

-- CreateIndex
CREATE INDEX "DeliveryOrder_userId_createdAt_idx" ON "public"."DeliveryOrder"("userId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "DeliveryPartner_currentOrderId_idx" ON "public"."DeliveryPartner"("currentOrderId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryPartner_email_key" ON "public"."DeliveryPartner"("email" ASC);

-- CreateIndex
CREATE INDEX "DeliveryPartner_isAvailable_idx" ON "public"."DeliveryPartner"("isAvailable" ASC);

-- CreateIndex
CREATE INDEX "DeliveryPartner_phone_idx" ON "public"."DeliveryPartner"("phone" ASC);

-- CreateIndex
CREATE INDEX "DeliveryPartner_profileStatus_idx" ON "public"."DeliveryPartner"("profileStatus" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DeliveryPartner_userId_key" ON "public"."DeliveryPartner"("userId" ASC);

-- CreateIndex
CREATE INDEX "OtpVerification_expiresAt_idx" ON "public"."OtpVerification"("expiresAt" ASC);

-- CreateIndex
CREATE INDEX "OtpVerification_identifier_purpose_consumedAt_idx" ON "public"."OtpVerification"("identifier" ASC, "purpose" ASC, "consumedAt" ASC);

-- CreateIndex
CREATE INDEX "OtpVerification_orderId_purpose_idx" ON "public"."OtpVerification"("orderId" ASC, "purpose" ASC);

-- CreateIndex
CREATE INDEX "OtpVerification_phone_purpose_idx" ON "public"."OtpVerification"("phone" ASC, "purpose" ASC);

-- CreateIndex
CREATE INDEX "OtpVerification_userId_purpose_idx" ON "public"."OtpVerification"("userId" ASC, "purpose" ASC);

-- CreateIndex
CREATE INDEX "RoomReview_roomId_createdAt_idx" ON "public"."RoomReview"("roomId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "RoomReview_roomId_userId_key" ON "public"."RoomReview"("roomId" ASC, "userId" ASC);

-- CreateIndex
CREATE INDEX "RoomReview_userId_createdAt_idx" ON "public"."RoomReview"("userId" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Session_expiresAt_idx" ON "public"."Session"("expiresAt" ASC);

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "public"."Session"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_firebaseUid_key" ON "public"."User"("firebaseUid" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "public"."User"("phone" ASC);

-- AddForeignKey
ALTER TABLE "public"."Booking" ADD CONSTRAINT "Booking_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "public"."Room"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Booking" ADD CONSTRAINT "Booking_serviceId_fkey" FOREIGN KEY ("serviceId") REFERENCES "public"."Service"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Booking" ADD CONSTRAINT "Booking_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_partnerId_fkey" FOREIGN KEY ("partnerId") REFERENCES "public"."DeliveryPartner"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryOrder" ADD CONSTRAINT "DeliveryOrder_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DeliveryPartner" ADD CONSTRAINT "DeliveryPartner_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RoomReview" ADD CONSTRAINT "RoomReview_roomId_fkey" FOREIGN KEY ("roomId") REFERENCES "public"."Room"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."RoomReview" ADD CONSTRAINT "RoomReview_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

